* {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    box-sizing: border-box;
}

.container {
    margin: 10px auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.container h1 {
    margin: 0 auto;
    text-align: center;
    margin: 0 0 20px;
    font-size: 4em;
    font-weight: 700;
}

.container h3 {
    font-size: 2.25em;
    font-weight: 600;
    text-decoration: underline;
}

#bookForm {
    margin: 20px;
}

#bookForm, #bookForm input {
    font-size: 1.1em;
    width: 300px;
    margin: 10px 0;
}

#bookForm select {
    width: 100%;
    font-size: 1.1em;
}

table {border-collapse: collapse;}

th, td {
    border: 1px solid black;
    width: 175px;
}

th {
    padding: 10px;
    font-size: 2em;
}

td {
    padding: 5px;
    font-size: 1.5em;
}

#addBookBtn {
    align-self: flex-end;
    margin: 10px 0;
    padding: 8px;
    width: 100px;
    font-size: 1.25em;
    border: 1px solid black;
    border-radius: 5px;
}

.removeBtn {
    margin: 7px auto;
    display: block;
    width: 100px;
    font-size: 1em;
    background-color: #d0393e;
    color: white;
    border: none;
    border-radius: 5px;
}

.stars {
    margin: 0 auto;
    text-align: center;
}